*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style-type: none;
}

a,a:hover{
    text-decoration: none;
    display: inline-block;

}

p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

img{
    vertical-align: middle;
}


/* all common css end  */


/* navbar part start  */

.navbar{
    background: #02918c;
    width: 100%;
    position: fixed;
}

.navbar-nav{
    text-transform: uppercase;
    height: 50px;
    line-height: 35px;
}

.navbar-nav li a{
    font-size: 12px;
    color: #fff;
    font-weight: 800;
    transition: .5s;
    font-family: 'Open Sans', sans-serif;
    margin-left: 40px;
}

.navbar-nav li a:hover{
    color: rgb(255, 72, 246);
}
/* navbar part end */

/* banner part start */

#banner{
    
    background: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.banner_overly{
    padding: 210px 0px;
    background-image: linear-gradient(#0e807c1e, #cfc91d2f);
    
}

.banner_text h3{
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;

}
.banner_text h1{
    padding: 15px 0px;
    color: #fff;
    font-size: 68px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;

}

.banner_text span{
    margin-left: 60px;
}
.banner_text h6{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;

}

.banner_image{
    padding: 50px 0px;
}

.banner_btn{
    height: 45px;
    width: 195px;
    background: #cfc91d;
}
.banner_btn a{
    line-height: 45px;
    color: #0b1016;
}


/* banner part end */

/* about part start  */

#about{
    padding: 95px 0px;
    background: #fff;
}

.about_text h3{
    font-size: 46px;
    font-weight: 800;
    color: #02918c;
    font-family: 'Open Sans', sans-serif;
}

.about_text h6{
    padding: 35px 0px;
    font-size: 16px;
    font-weight: 800;
    color: #7e8287;
    font-family: 'Open Sans', sans-serif;
}

.about_text p{
    font-size: 16px;
    font-weight: 400;
    color: #7e8287;
    font-family: 'Open Sans', sans-serif;
    line-height: 41px;
    padding-bottom: 85px;
}


.about_text span{
    font-size: 23px;
    font-weight: 800;
    color: #7e8287;
    font-family: 'Open Sans', sans-serif;
    line-height: 41px;
}

.about_btn_content i{
    padding-top: 40px;
    font-size: 30px;
    color: #02918c;
}

.about_btn_content h3{
    padding: 25px 0px;
    font-size: 16px;
    font-weight: 800;
    color: #7e8287;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.about_btn_content p{
    padding: 0px 53px;
    font-size: 11px;
    font-weight: 400;
    color: #7e8287;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    line-height: 21px;
    padding-bottom: 40px;
}


.about_btn_content_l i{
    padding-top: 40px;
    font-size: 30px;
    color: #02918c;
}

.about_btn_content_l h3{
    padding: 25px 0px;
    font-size: 16px;
    font-weight: 800;
    color: #7e8287;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.about_btn_content_l p{
    padding: 0px 53px;
    font-size: 11px;
    font-weight: 400;
    color: #7e8287;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    line-height: 21px;
    padding-bottom: 40px;
}

.about_btn_content{
    border-right: 1px solid #d9dbdb;
}
/* about part end */


/* service part start  */

#service{
    background: url(../images/service-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.service_text h3{
    padding-top: 75px;
    font-size: 46px;
    font-weight: 800;
    color: #02918c;
    font-family: 'Open Sans', sans-serif;
}

.service_text h6{
    padding: 35px 0px 10px;
    font-size: 16px;
    font-weight: 800;
    color: #7e8287;
    font-family: 'Open Sans', sans-serif;
}

.service_text p{
    padding-right:20px;
    font-size: 16px;
    font-weight: 400;
    color: #7e8287;
    font-family: 'Open Sans', sans-serif;
    line-height: 41px;
    padding-bottom: 55px;
}

.service_icon_part i{
    padding-bottom: 15px;
    font-size: 30px;
    color: #02918c;
}

.service_icon_part h3{
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 800;
    color: #7e8287;
    font-family: 'Open Sans', sans-serif;
}

.service_icon_part p{
    padding-right: 110px;
    font-size: 11px;
    font-weight: 400;
    color: #7e8287;
    font-family: 'Open Sans', sans-serif;
    line-height: 21px;
    padding-bottom: 58px;
}

/* service part end */

/* work part start  */

#work{
    padding-top: 110px;
    background: #fff;
}

.work_text h3{
    font-size: 46px;
    font-weight: 800;
    color: #02918c;
    font-family: 'Open Sans', sans-serif;
}

.work_text h6{
    padding-top: 25px;
    font-size: 16px;
    font-weight: 800;
    color: #7e8287;
    font-family: 'Open Sans', sans-serif;
}

.work_text p{
    font-size: 16px;
    font-weight: 400;
    color: #7e8287;
    font-family: 'Open Sans', sans-serif;
    line-height: 41px;
    padding-bottom: 80px;
}
/* work part end */

.work_img_part{
    display: flex;
}

.work_one{
    width: 25%;
    height: 240px;
    position: relative;
}

.work_one img{
    width: 100%;
    height: 100%;
}




.image_hover{
    position: absolute;
    height: 200px;
    width: 270px;
    top: 20px;
    left: 33px;
    visibility: hidden;
    opacity: 0;
    transition: .6s;

}

.work_one:hover .image_hover{
    visibility: visible;
    opacity: 1;
}



/* last part start  */

#last{
    padding: 70px 0px;
    background: #0b0b0b;
}

.last_part_text h3{
    font-size: 16px;
    font-weight: 400;
    color: #7e8287;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    padding-bottom: 80px;
}

.last_part_text h3::after{
    height: 1px;
    width: 640px;
    background: #d9dbdb;
    position: absolute;
    content: '';
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.last_part_text h4{
    font-size: 16px;
    font-weight: 400;
    color: #7e8287;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    padding-bottom: 80px;
}

.last_part_text h4::after{
    height: 1px;
    width: 920px;
    background: #d9dbdb;
    position: absolute;
    content: '';
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.last_part_text h4::before{
    height: 1px;
    width: 920px;
    background: #d9dbdb;
    position: absolute;
    content: '';
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
}

.last_btn{
    padding-top: 65px;

}

.last_btn a{
    padding: 18px 70px;
    font-size: 14px;
    font-weight: 800;
    color: #000;
    background: #cfc91d;
}
/* last part end */

#footer{
    padding-top: 34px;
    padding-bottom: 27px;
    background: #000;
}

.ft_text{
    font-size: 12px;
    font-weight: 400;
    color: #7e8287;
}